{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('about_me') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('about_me') }}
{% endblock %}

{% block body %}
<section class="first_section">
    <div class="left_container">
        <div class="image_and_text">
            <img src="{{asset('build/images/MC_face_light.png') }}" alt="Une photo de Mathilde Courgeon, Kinésiologue">
            <p>
                Je ne connais que trop bien les sensations, et les pensées qui accompagnent une émotion bloquée.
            </p>
            <p>
                De nature sensible, j’ai traversé plus jeune, une longue période avec des troubles anxieux sévères
                qui ont façonné ma façon de vivre et de voir les choses. Beaucoup d’énergie perdue à combattre des
                symptômes
                qui se renforcent lorsqu’on n’a pas les bons outils pour soutenir un changement positif.
            </p>
            <p>
                Mon cheminement m’a amené à consulter une première psychologue à la fin de mes études, puis j’ai connu
                la
                vie en entreprise. Mes expériences professionnelles et personnelles m’ont fait évoluer, et m’ont
                apportées d’autres
                thèmes de recherche personnelle pour aller vers le mieux-être. L’accompagnement par une sophrologue et
                la pratique
                du Qi Gong ont été une révélation pour moi qui suis très (trop !) cérébrale. En effet j’ai commencé à
                comprendre la
                place importante du corps, des ressentis, et l’interaction avec les émotions. Ceci m’a aidé petit à
                petit à y voir
                plus clair, à prendre du recul dans les moments trop intenses. Toujours soucieuse de m’améliorer, je me
                suis passionnée p
                ar des lectures touchant à la psychologie, le développement personnel et spirituel, l’énergétique, j’ai
                été aidée
                sur mon parcours entre autres par le Shiatsu, l’Hypnose, la Gelstat-Thérapie, et enfin la Kinésiologie.
            </p>
            <p>
                C’est ce parcours qui m’a permis de mieux me connaître, transformer petit à petit mes croyances
                limitantes,
                de réaliser que j’ai de belles qualités que je souhaitais depuis longtemps mettre à disposition
                d’autrui dans le
                domaine du soin, l’écoute, et l’accompagnement de la personne vers son bien-être. Le courage de devenir
                moi-même,
                je le découvre au quotidien, et je le consolide d’autant plus depuis ma décision, en 2021, de me former
                pour devenir
                kinésiologue. Cette idée s’est imposée à moi un beau jour, lorsque j’ai compris que la technique que je
                souhaitais
                exercer devait impérativement être une approche globale de la santé, prenant en compte TOUS les aspects
                de la personne
                (émotionnel, physique, énergétique et mental).
            </p>
            <p>
                J’ai cette réelle envie de partager des outils simples permettant de retrouver l’équilibre, pour ne plus
                laisser
                les jeunes et moins jeunes se débattre avec leurs émotions bloquées.
            </p>
            <p>
                Vous permettre de gagner en liberté d’être, de penser, d’agir est l’objectif qui me porte.
            </p>
        </div>
    </div>

</section>
</main>
{% endblock %}