{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('about_me') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('about_me') }}
{% endblock %}

{% block body %}
<section class="first_section">
    <div class="left_container">
        <div class="image_and_text">
            <img src="{{asset('build/images/MC_face_light.png') }}" alt="Une photo de Mathilde Courgeon, Kinésiologue">
            <p>
                Après avoir travaillé une quinzaine d'années en entreprise, j'ai choisi de me reconvertir dans un métier
                du bien-être
                qui privilégie une approche globale de la personne : la Kinésiologie.
            </p>
            <p>

                Au fil des expériences vécues sur mon chemin professionnel, j’ai aimé accompagner
                des équipes variées grâce à mon sens de l’écoute. Je conserve cette profonde envie d’aider, tout en
                évoluant
                davantage au cœur de<strong> l’accompagnement humain</strong>. <br>
                Je me propose d'accompagner chacun dans sa recherche personnelle de mieux-être au quotidien, que ce soit
                dans
                sa vie personnelle ou professionnelle. Ma spécialité est le travail sur les émotions (des phobies aux
                états
                émotionnels bloqués en passant par les croyances limitantes), basée sur une écoute empathique et
                bienveillante.
            </p>
            <p>
                Dans ma propre quête de sens, les pratiques psycho-corporelles comme la sophrologie, ainsi que les
                disciplines
                énergétiques comme le Qi Gong, m’ont énormément soutenues. En effet, le corps enregistre tout, il est un
                fabuleux allié
                dans notre cheminement permettant de libérer des blocages émotionnels.
            </p>
            <p>
                Je me suis donc orientée vers la kinésiologie, une pratique psycho-corporelle et énergétique,<strong>
                    afin de considérer
                    l’Etre dans son aspect global</strong> (émotionnel, physique, mental, énergétique). Cet outil permet
                de libérer des blocages
                conscients et inconscients, et de retrouver l’accès à son potentiel.
            </p>
            <p>
                J’ai suivi la formation de kinésiologue dispensée dans une école reconnue et certifiée, l’ECAP de
                Nantes, à partir de septembre 2021.
            </p>
            <p>
                Avec plus de 600 heures de formation, des heures de mises en pratique lors des stages, des séances
                pratiquées en dehors du
                centre de formation, l’obtention de la <strong>certification « Proficiency »</strong> en TFH, et en
                chemin vers de nouvelles certifications
                dans d’autres spécialités de la Kinésiologie, j’ai le plaisir de vous accueillir au 110 rue du Rempart à
                Tours.
            </p>
            <p>
                Vous permettre de gagner en liberté d’être, de penser, d’agir est l’objectif qui me porte.
            </p>
        </div>
    </div>
</section>
</main>
{% endblock %}