{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('dream_machine') }}
{% endblock %}

{% block title %}Dream Machine{% endblock %}

{% block body %}
<div class="title">
    <p>Venez découvrir la </p>
    <h1>DREAM MACHINE</h1>
</div>
<p>Bouton de réservation à valider plus tard</p>
<p>
    Que vous ayez besoin de réduire votre stress, améliorer votre sommeil, ou favoriser un favoriser un flow de créativité, la Dream Machine vous plongera dans une expérience unique. 
</p>
<p>La photostimulation, comment ça fonctionne ?</p>
<p>
    La technologie brevetée de la Dream Machine est basée sur la photostimulation, un phénomène longtemps confiné aux laboratoires de neurosciences. La Dream Machine, ressemble à une lampe, et émet des fréquences lumineuses qui stimulent le nerf optique, puis le cerveau. 
</p>
<p>
    La lampe est constituée de 21 LED qui créent un scintillement selon des programmes conçus dans des buts précis. Ces programmes sont codés pour combiner des fréquences lumineuses dont l’intensité et les rythmes varient à mesure de l’évolution de la séance, modifiant l’activité électrique cérébrale vers un état désiré. 
</p>
<p>
    IMPORTANT 
</p>
<p>
    Déconseillé aux personnes épileptiques, photosensibles, enfants, femmes enceintes. 
</p>
<p>
    Pour ces raisons je ne pratique les séances Dream Machine qu’avec les personnes de plus de 18 ans sans contre-indications. 
</p>
<p>
    Un doute ? Je vous invité à vous renseigner au préalable auprès du spécialiste médical qui vous suit habituellement.
</p>
<p>
    Comment se déroule la séance ?
</p>
<p>
    La séance a lieu assis confortablement, les yeux fermés. Vous êtes équipé d’un casque audio qui vous guide dans l’expérience. La session peut être accompagnée de musique selon les besoins.
</p>
<p>
    1er temps
</p>
<p>
    Nous commencerons par échange pour définir ensemble votre objectif. Vous aurez également l'opportunité de poser toutes vos questions concernant la Dream Machine et l'expérience à venir.
</p>
<p>
    2ème temps
</p>
<p>
    La session commence. Je serai à vos côtés tout au long de la séance pour vous accompagner aussi pendant le programme lumineux. Une fois confortablement installé, il vous suffira de fermer les yeux et de profiter pleinement de ce moment que vous vous offrez.
</p>
<p>
    3ème temps
</p>
<p>
    A la fin de la session, nous reprenons un temps d'échange pour conclure cette séance et faire un débriefing de l'expérience vécue.
</p>
<p>
    Quels sont les bénéfices d’une séance ?
</p>

<p>
    Relaxation – Stimulation - Exploration
</p>
<p>
    Dans le cadre d’un accompagnement, la Dream Machine est bien plus qu’un gadget récréatif. Grâce à mon écoute et mon expérience, je vous aide à bien clarifier votre intention pour donner la bonne direction à l’exploration qui va suivre. Je me suis formée afin de comprendre, et d’accompagner des personnes qui s’interrogent sur leur rapport aux émotions et qui souhaitent amorcer un changement. Vous allez pouvoir explorer en toute sécurité vos sensations, vos émotions, vos perceptions, permettant de contacter une introspection plus profonde.
</p>
<p>
    1. Réduire le stress et favoriser la relaxation, capacité à couper instantanément les pensées, induire un état de relaxation profonde, contribuant à la diminution du stress et à une meilleure gestion des émotions.
</p>
<p>
    2. Optimiser le sommeil et le repos  améliorez la qualité de sommeil.
</p>
<p>
    3. Élever l'humeur et l'état d'esprit améliorer l'humeur générale et d'induire un sentiment de bien-être. 
</p>
<p>
    4. Stimuler des états de conscience modifiés, la méditation avancée, l'introspection profonde ou les expériences similaires aux voyages psychédéliques. On qualifie la Dream Machine de "semi-psychédélique".
</p>
<p>
    5. Stimuler la créativité.
</p>
<p>
    6. Favoriser l'équilibre émotionnel.
</p>
<p>
    7. Augmenter la conscience corporelle.
</p>
<p>
    Il est important de souligner que chaque expérience est unique et profondément personnelle.
</p>
<p>
    bouton de réservation à valider plus tard
</p>

{% endblock %}