{% extends 'base.html.twig' %}

{% block title %}MC Kinesio{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('cgv') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('cgv') }}
{% endblock %}
{% block body %}
<section class="cgv_section">
    <h1>
        CONDITIONS GENERALES DE VENTES DE PRESTATIONS DE SERVICES – Mathilde COURGEON – Kinésiologie
    </h1>
    <h2>1- Généralités</h2>
    <p>
        Les présentes conditions générales de vente (CGV) s’appliquent, sans restriction ni réserve, à l’ensemble des
        prestations
        de services (ci-après les « Prestations ») proposées par « Mathilde COURGEON – Kinésiologie », entreprise
        individuelle immatriculée par
        Mathilde COURGEON sous le numéro SIREN 950 975 573 (RNE), et ce, à l’ensemble de ses clients, quel que
        soit
        leur statut ou qualité.
        En conséquence, la passation d’une commande par un client pour la réalisation d’une Prestation proposée sur le
        site
        internet
        www.mc-kinesiologie.fr emporte l’adhésion de ces derniers et leur acceptation, sans réserve, aux présentes CGV
        sauf
        accord
        particulier préalablement convenu par écrit entre les parties. La vente ne sera parfaite qu’après l'acceptation
        expresse par
        tout moyen écrit de la commande par « Mathilde COURGEON – Kinésiologie ».
        « Mathilde COURGEON – Kinésiologie » se réserve le droit de modifier à tout moment les présentes CGV, étant
        précisé
        que les modifications
        seront applicables aux seules commandes passées en suite de l’entrée en vigueur desdites modifications.
        Tout autre document que les présentes CGV et notamment les publicités, prospectus, flyers…n’a qu’une valeur
        informative de
        l’activité proposée par « Mathilde COURGEON – Kinésiologie » et est non contractuel.
    </p>

    <h2>2- Caractéristiques générales des Prestations</h2>
    <p>
        La finalité de l’activité de « Mathilde COURGEON – Kinésiologie » réalisée par Mathilde COURGEON est
        exclusivement
        le bien-être de la personne.
        Conformément à la législation en vigueur, les prestations pratiqués par Mathilde COURGEON en l'absence de
        diagnostic
        et
        de traitement thérapeutique, ne s'apparentent en rien, ni dans les contenus ni dans les objectifs, à une
        pratique
        médicale, thérapeutique ou encore sportive.
        Il s’agit de techniques manuelles de bien-être et de relaxation uniquement. Sont également exclues de l’activité
        de
        « Mathilde COURGEON – Kinésiologie », toutes prestations
        à caractère érotique ou sexuel. Tout comportement déplacé envers Mathilde COURGEON pourra faire l’objet de
        poursuite
        judiciaire.
        Les Prestations proposées par « Mathilde COURGEON – Kinésiologie » sont disponibles sur le site internet
        www.mc-kinesiologie.fr.
        Mathilde COURGEON, se réserve la possibilité d’y apporter à tout moment, les améliorations et les modifications
        qu’elle
        jugerait utile sans être tenue cependant de les apporter aux Prestations déjà effectuées, ou en cours de
        commande.
    </p>

    <h2>3- Conditions de réalisation des Prestations</h2>
    <p>
        « Mathilde COURGEON – Kinésiologie » n’intervient que sur rendez-vous au domicile du client, en cabinet situé
        110
        rue du Rempart, 37000 TOURS, en milieu professionnel,
        en milieu scolaire ou de loisirs, en établissements de santé (hôpitaux, cliniques, maisons de retraite…), ou
        dans
        tous lieux recevant du public (cadres évènementiels,
        salons, congrès…).
        Les Prestations sont proposées du lundi au vendredi et ponctuellement le samedi et le dimanche en fonction de la
        demande aux dates et lieux fixés d’un commun accord
        entre le client et « Mathilde COURGEON – Kinésiologie ».
        Le client s’engage à mettre à disposition de « Mathilde COURGEON – Kinésiologie » un espace (minimum 10 m2) dont
        les
        conditions d’hygiène, de calme
        et de sécurité sont compatibles avec la réalisation d’une prestation de Kinésiologie.
        Lors des séances de Kinésiologie, « Mathilde COURGEON – Kinésiologie » met à la disposition du client tout le
        matériel professionnel nécessaire
        (table ou chaise, linge de protection, musique d’accompagnement, produits hygiéniques,…).
        La prise de rendez-vous se fera par téléphone, par mail ou par formulaire de contact. Toutes les coordonnées
        nécessaires à la prise de rendez-vous
        sont disponibles sur le site internet www.mc-kinesiologie.fr
        La durée des prestations indiquées sur le site internet ne tient pas compte du temps d’installation du matériel,
        d’habillage et de déshabillage,
        c’est pourquoi il est recommandé de prévoir 20 à 30 minutes supplémentaires en sus du temps indiqué pour la
        prestation.
    </p>

    <h2>4- Les contre-indications aux massages bien-être</h2>
    <p>
        Chaque client devra se conformer aux conseils et aux recommandations de « Paroles de Massages » notamment au
        niveau
        des contre-indications aux massages bien-être.
        En effet, à la lecture des présentes CGV, le client est informé et accepte qu’il est contre-indiqué de donner un
        massage de bien-être, sans avis médical préalable, à des personnes souffrant, sans que cette liste soit
        exhaustive,
        de pathologies lourdes (problèmes cardiaque, insuffisance rénale, cancer, de troubles nerveux (épilepsie, ...),
        de
        diabète important.
        Il existe des contre-indications absolues : phlébite (même récente), forte fièvre, sur un fibrome ou une tumeur,
        lors d'une chimiothérapie, à la suite d'une intervention chirurgicale majeure.
        Enfin, il existe des restrictions relatives au massage dans les cas suivants (les zones concernées étant
        proscrites)
        : blessure (inflammation aigüe, déchirure musculaire, cicatrice récente ou douloureuse, plaie), trouble
        circulatoire
        important, tendinite ou luxation, hernie discale, crise aigüe d’arthrose ou d’arthrite, hématomes, affections
        cutanées couvrantes (œdème, dermatose, eczéma infecté) ou contagieuses.
        En cas d’allergies, le client s’engage à en informer « Paroles de Massages » au moment de la prise de
        rendez-vous.
        En cas de grossesse, il est recommandé à la cliente de demander un avis préalable à son médecin, gynécologue ou
        sage-femme et d’en informer « Paroles de Massages » lors de la prise de rendez-vous.
        Pour s’assurer que son client est apte à recevoir un massage bien-être, Juliette DELMOTTE lui fera signer un
        document rappelant les contre-indications susvisées lors du premier rendez-vous. Le client attestera également
        par
        sa signature qu’il n’a rien à déclarer sur son état de santé qui ne serait pas compatible avec la réalisation
        d’un
        massage bien-être sur sa personne sans avis médical et déclare informer au préalable Juliette DELMOTTE de tous
        changements sur son état de santé lors des prochains rendez-vous.
        En conséquence, « Paroles de Massages » se réserve le droit de refuser à tout moment, un client dont l’état de
        santé
        ne serait pas compatible avec la réalisation d’un massage bien-être sur sa personne sans avis médical préalable.
        De même, les séances de massages ne seront proposées qu’aux personnes majeures, ou mineures titulaires d’une
        autorisation de son représentant légal à la pratique du massage bien-être.
    </p>

    <h2>5- Conditions financières</h2>
    <p>
        Les prix des Prestations proposées sont indiqués en euros sur le site www.mc-kinesiologie.fr.
        « Mathilde COURGEON – Kinésiologie » n’est pas soumis à la Taxe sur la Valeur Ajoutée (TVA) conformément à
        l’article
        293B du Code Général des Impôts,
        les prix mentionnés sur le site internet sont donc indiqués sans TVA. Dans l’hypothèse où « Mathilde COURGEON –
        Kinésiologie » deviendrait soumis à la TVA,
        les tarifs affichés sur le site seront réajustés en conséquence et applicables à toute commande passée suivant
        la
        date de son assujettissement.
        « Mathilde COURGEON – Kinésiologie » se réserve également le droit de modifier ses prix à tout moment, étant
        précisé
        que les Prestations seront facturées sur la
        base des tarifs en vigueur au moment de la réservation du rendez-vous.

        5-1. Dans le cadre d’une prestation à domicile ou pour toute prestation réalisée sans contrat écrit au préalable
        entre les parties ou devis signé valant bon de commande.
        Le paiement de la Prestation devra se faire par chèque ou en espèce au début du rendez-vous.
        En cas d’annulation de rendez-vous, le client devra le faire par mail au moins 24h avant ce dernier. Tout
        rendez-vous non annulé dans ce délai pourra faire l’objet d’une facturation.

        5-2. Les Prestations nécessitant un devis personnalisé (évènementiels, salons, congrès,…) et qui ne font pas
        l’objet
        d’un contrat cadre de fourniture de prestations de
        services entre les parties
        Le devis est valable un mois à partir de la date d’émission de celui-ci.
        Le devis et les CGV signés par le client valent pour accord et bon de commande. Le devis et les CGV signés
        doivent
        être accompagnés d’un versement de 30% du montant total
        indiqué sur le devis. Le versement de cet acompte se fera par chèque ou virement bancaire.
        Sauf délai de paiement supplémentaire convenu par accord entre les deux parties et figurant sur la facture, le
        solde
        du paiement s’effectue au comptant
        dans un délai maximal de 15 (quinze) jours suivant la date d’émission de la facture, par chèque ou virement
        bancaire. En cas de retard de paiement, une pénalité
        fixée à 15% du montant de la facture, par mois de retard entamé, est exigible sans qu’un rappel ne soit
        nécessaire,
        dès le jour suivant la date limite de règlement.
        Toute demande de report ou d’annulation par le client devra parvenir à « Mathilde COURGEON – Kinésiologie » au
        moins
        15 (quinze) jours ouvrables avant la date fixée.
        A défaut, « Mathilde COURGEON – Kinésiologie », sera en droit de facturer, à titre d’indemnité, 50 (cinquante)
        pourcent du montant total de la facture,
        avant déduction de l’acompte perçu.
        Si l’annulation intervient dans les 7 (sept) jours ouvrables avant la date fixée, « Mathilde COURGEON –
        Kinésiologie
        », sera en droit de facturer, à titre d’indemnité,
        75 (soixante-quinze) pourcent du montant total de la facture, avant déduction de l’acompte perçu.
        En cas d’annulation sur place ou la veille, l’indemnité sera de 100 (cent) pourcent du montant de la Prestation
        prévue.
        En cas d’annulation à l’initiative de « Mathilde COURGEON – Kinésiologie » et si aucune date de remplacement
        n’est
        convenue, celle-ci remboursera
        au client l’acompte perçu dans un délai maximal de 8 (huit) jours.

    <h2>6- Incapacité de travail</h2>
    <p>
        En cas d’incapacité physique temporaire, par suite de maladie ou d’accident de Mathilde COURGEON, « Mathilde
        COURGEON – Kinésiologie » se réserve le droit de replanifier
        de nouvelles dates d’interventions en concertation avec le client sans qu’il ne puisse être exigé par ce dernier
        de
        versement d’indemnité.
        En cas d’incapacité physique permanente de la praticienne, tout type de contrat ou d’engagement avec les clients
        de
        « Mathilde COURGEON – Kinésiologie » seront
        résiliés de plein droit sans qu’il ne puisse être réclamé à « Mathilde COURGEON – Kinésiologie » une indemnité
        compensatrice.
        Les acomptes perçus seront restitués au client dans un délai maximal de 8 (huit) jours suivant la résiliation du
        contrat.
    </p>

    <h2>7- Lieu d’intervention</h2>
    <p>
        « Mathilde COURGEON – Kinésiologie » déploie son activité, sans frais supplémentaire, dans une limite de 20 kms
        autour de Lyon. Au delà, et sauf accord entre les parties,
        des frais de déplacement seront facturés en sus des prix indiqués sur le site internet sur la base de 30
        centimes
        d’euro par kilomètre supplémentaire.
        Des déplacements ponctuels à travers la France sont également possibles, sur demande particulière.
    </p>

    <h2>8- Loi applicable et juridiction compétente</h2>
    <p>
        Les présentes CGV sont soumises à la législation française. En cas de litiges les parties s’engagent à
        rechercher
        une solution à l’amiable avant toute action judiciaire.
        A défaut, tout différent survenant avec un client ayant la qualité de commerçant et qui serait lié à
        l’interprétation, l’exécution ou la validité des présentes
        CGV sera soumis à la compétence exclusive des tribunaux de Lyon. Pour l’ensemble des autres clients, ce sont les
        dispositions du code de procédure civile qui s’appliqueront.

    </p>
    <h2>9- Propriété intellectuelle</h2>
    <p>
        Mathilde COURGEON est titulaire des droits de propriété intellectuelle sur tous les éléments présents visibles
        sur
        le site www.mc-kinesiologie.fr, notamment : les textes,
        images, photos, graphismes, logo. Mathilde COURGEON est également titulaire des droits de propriété
        intellectuelle
        de la marque « Mathilde COURGEON – Kinésiologie ».
        Toute reproduction, représentation, modification, publication, adaptation ou exploitation de tout ou partie de
        la
        marque « Mathilde COURGEON – Kinésiologie » ou
        autres éléments du site www.mc-kinesiologie.fr est interdite sur quelque support que ce soit et de quelque
        manière
        que ce soit sauf avec un accord écrit de Mathilde COURGEON.
    </p>


    <h2>10- Responsabilité civile professionnelle</h2>
    <p>
        Mathilde COURGEON a souscrit auprès d’une compagnie notoire une assurance en responsabilité civile
        professionnelle
        et risques d’exploitation.
        Il est précisé que la responsabilité de Mathilde COURGEON ne saurait être engagée en cas de dommages liés à la
        négligence d’un client,
        en particulier s’il n’a pas révélé à Mathilde Courgeon l’existence de contre-indications l’affectant, que ce
        soit
        lors de la signature
        du document d’information visant à l’alerter des contre-indications applicables, ou des rendez-vous ultérieurs
        en
        cas de modifications de son état de santé personnel.
    </p>
    <p>
        Date d’entrée en vigueur : 01.04.2023
    </p>
</section>
{% endblock %}