{% extends 'base.html.twig' %}

{% block title %}CGV MC Kinesiologie{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('cgv') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('cgv') }}
{% endblock %}
{% block body %}
<section class="cgv_section">
    <h1>
        Conditions générales de vente de prestations de services à des consommateurs particuliers – Mathilde Courgeon
        Kinésiologie
    </h1>

    <h2>Préambule</h2>
    <p>
        Les présentes conditions générales de vente s'appliquent à toutes les prestations de services proposées par la
        micro-entreprise
        Mathilde Courgeon Kinésiologie
    </p>
    <ul>
        <li>
            Identifiée sous le numéro Siret 95097557300011
        </li>
        <li>
            Située au 110 rue du Rempart 37000 TOURS
        </li>
        <li>
            Adresse mail : contact@mc-kinesiologie.fr
        </li>
        <li>
            Téléphone : 07.49.58.85.20
        </li>
    </ul>
    <p>
        Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la
        passation de la commande.
        La validation de la commande vaut donc acceptation des conditions générales de vente.
    </p>
    <p>
        Ce site est hébergé par OVH - www.ovh.com <br>
Siège social : 2 rue Kellermann - 59100 Roubaix - France 
    </p>

    <h2>Article 1 – Contenu et champ d'application</h2>
    <p>
        Les présentes conditions générales de vente s'appliquent de plein droit aux prestations de services suivantes :
        séances de Kinésiologie et techniques complémentaires.
        <br><br>
        Ces prestations peuvent également être vendues sous forme de bons cadeaux dont la validité est fixée à six mois
        à compter de la date d’achat.
        <br><br>
        Mme Mathilde Courgeon se réserve le droit de refuser toute prestation qui n’entrerait pas dans le cadre des
        formations qu’elle a reçues et
        validées par ses certifications ou attestations de formation présentielles qu’elle tient, sur demande, à la
        disposition du client.
        <br><br>
        Les différentes techniques proposées et pratiquées n’ont aucune visée médicale et ne sont assimilables ni aux
        actes réservés aux professions
        de santé réglementées par le Code de la Santé Publique et au décret n°96-879 du 8 octobre 1996. Elles sont
        considérées comme complémentaires et ne se substituent en aucun cas au champ médical réservé aux professions de
        Santé. Elles s’inscrivent dans une démarche complémentaire et personnelle de travail sur soi de toute personne
        qui consulte.
        <br><br>
        Elles s'appliquent à l'exclusion de toutes autres conditions, et notamment celles applicables pour les ventes
        sur internet ou au moyen d'autres
        circuits de distribution et de commercialisation.
        <br><br>
        La vente est réputée conclue à la date d'acceptation de la commande ou à l'achat immédiat par le vendeur.
        <br><br>
        Toute commande ou achat immédiat implique l'adhésion sans réserve aux présentes conditions générales de vente
        qui prévalent sur toutes autres
        conditions, à l'exception de celles qui ont été acceptées expressément par le vendeur.
        <br><br>
        L'acheteur déclare avoir pris connaissance des présentes conditions générales de vente et les avoir acceptées
        avant son achat immédiat ou la
        passation de sa commande.
    </p>

    <h2>Article 2 – Informations précontractuelles</h2>
    <p>
        Préalablement à l'achat immédiat ou à la passation de la commande et à la conclusion du contrat, ces conditions
        générales de vente sont communiquées à l'acheteur, qui reconnaît les avoir reçues.
        <br><br>
        Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :
    </p>
    <ul>
        <li>
            les caractéristiques essentielles du service ;
        </li>
        <li>
            le prix du service ou le mode de calcul du prix et, s'il y a lieu, tous les frais supplémentaires de
            transport,
            de livraison ou d'affranchissement et tous les autres frais éventuels ;
        </li>
        <li>
            la date ou le délai auquel le prestataire s'engage à exécuter le service, quel que soit son prix, et toute
            autre condition contractuelle ;
        </li>
        <li>
            les informations relatives à l'identité du prestataire, à ses coordonnées postales, téléphoniques et
            électroniques, et à ses activités ;
        </li>
        <li>
            les modalités prévues pour le traitement des réclamations ;
        </li>
        <li>
            la durée du contrat, lorsqu'il est conclu à durée déterminée, ou les conditions de sa résiliation en cas de
            contrat à durée indéterminée ;
        </li>
        <li>
            en ce qui concerne le contenu numérique toute interopérabilité pertinente de ce contenu avec certains
            matériels ou logiciels dont le
            professionnel a ou devrait raisonnablement avoir connaissance.
        </li>
    </ul>
    <p>
        Le prestataire de services doit également communiquer à l'acheteur, ou mettre à sa disposition, les informations
        suivantes :
    </p>
    <ul>
        <li>
            statut et forme juridique, coordonnées permettant d'entrer en contact rapidement et de communiquer
            directement avec lui
        </li>
        <li>
            le cas échéant, le numéro d'inscription au registre du commerce et des sociétés ou au répertoire des métiers
            ;
        </li>
        <li>
            pour les activités soumises à un régime d'autorisation, le nom et l'adresse de l'autorité l'ayant délivrée ;
        </li>
        <li>
            pour le prestataire assujetti à la taxe sur la valeur ajoutée et identifié par un numéro individuel en
            application de l'article 286 terdu code général
            des impôts, son numéro individuel d'identification ;
        </li>
        <li>
            pour le prestataire membre d'une profession réglementée, son titre professionnel, l'État membre de l'UE dans
            lequel il a été octroyé ainsi que le nom de
            l'ordre ou de l'organisme professionnel auprès duquel il est inscrit ;
        </li>
        <li>
            l'éventuelle garantie financière ou assurance de responsabilité professionnelle souscrite par lui, les
            coordonnées de l'assureur ou du garant ainsi que
            la couverture géographique du contrat ou de l'engagement.
        </li>
    </ul>

    <h2>Article 3 – Commande</h2>
    <p>
        Par commande, il faut entendre tout ordre portant sur les prestations figurant sur les tarifs du vendeur, et
        accepté par lui,
        accompagné du paiement de l'acompte éventuellement prévu sur le bon de commande.
        <br><br>
        Toute commande, pour être valable, doit être établie sur les bons de commande du vendeur, à la disposition de la
        clientèle dans ses magasins.
        <br><br>
        Toute commande parvenue au vendeur est réputée ferme et définitive.
        <br><br>
        Elle entraîne adhésion et acceptation pleine et entière des présentes conditions générales de vente et
        obligation de paiement des produits commandés.
        <br><br>
        L'acheteur dispose d'un droit de rétractation de 14 jours à compter de la conclusion du contrat, sauf exception
        prévue par l'article L.211-28 du Code
        de la consommation.
    </p>

    <h2>Article 4 – Devis</h2>
    <p>
        Pour les services donnant lieu à l'établissement d'un devis préalable, la vente ne sera considérée comme
        définitive qu'après établissement d'un
        devis par le prestataire et envoi à l'acheteur de la confirmation de l'acceptation de la commande.
        <br><br>
        Les devis établis par le prestataire ont une durée de validité d’ un mois.
    </p>

    <h2>Article 5 – Exécution de la prestation et résolution du contrat</h2>
    <p>
        Sauf conditions particulières expresses propres à la vente, l'exécution de la prestation s'effectuera dans le
        délai de quatre mois
        et à la date du rendez-vous fixé en accord avec le client à compter de la réception par le vendeur d'une
        commande en bonne et due forme.
        <br><br>
        En cas de manquement du vendeur à son obligation d'exécution à la date ou à l'expiration du délai prévu
        ci-dessus, ou, à défaut,
        au plus tard 30 jours après la conclusion du contrat, l'acheteur peut résoudre le contrat, dans les conditions
        des articles L. 216-2
        et L. 216-3 et L. 216-4 du code de la consommation, par lettre recommandée avec demande d'avis de réception ou
        par un écrit sur un
        autre support durable, si, après avoir enjoint, selon les mêmes modalités, le professionnel de fournir le
        service dans un délai
        supplémentaire raisonnable, ce dernier ne s'est pas exécuté dans ce délai.
        <br><br>
        Le contrat est considéré comme résolu à la réception par le professionnel de la lettre ou de l'écrit l'informant
        de cette résolution,
        à moins que le professionnel ne se soit exécuté entre-temps.
        <br><br>
        Néanmoins, l'acheteur peut immédiatement résoudre le contrat lorsque le professionnel refuse de fournir le
        service ou lorsqu'il
        n'exécute pas son obligation de fourniture du service à la date prévue, si cette date ou ce délai constitue pour
        l'acheteur une
        condition essentielle du contrat. Cette condition essentielle résulte des circonstances qui entourent la
        conclusion du contrat ou
        d'une demande expresse du consommateur avant la conclusion du contrat.
        <br><br>
        Les frais et les risques liés à cette opération sont à la charge exclusive du prestataire.
        <br><br>
        Hormis cas de force majeure, l'acompte versé à la commande est acquis de plein droit et ne peut donner lieu à
        aucun remboursement.
        <br><br>
        En cas d’annulation de rendez-vous, le client devra le faire par mail au moins 48h avant ce dernier. Tout
        rendez-vous non annulé dans ce délai pourra faire l’objet d’une facturation.
    </p>

    <h2>Article 6 – Prix</h2>
    <p>
        Les prix sont fermes et définitifs. Sauf conditions particulières expresses propres à la vente, les prix des
        prestations effectuées sont ceux figurant dans le catalogue des prix au jour de la commande.
        <br><br>
        Ils sont exprimés en monnaie légale et ne comportent pas de taxe conformément à l’article 293B du Code général
        des impôts (TVA non applicable).
        <br><br>
        S’ajoutent à ces prix les frais suivants : frais de déplacement, dans les conditions indiquées dans le catalogue
        tarifaire du prestataire.
    </p>
    </p>

    <h2>Article 7 – Paiement</h2>
    <p>
        Sauf autres modalités prévues expressément par les conditions particulières, le paiement du prix s'effectue
        comptant au jour de la prestation.
        <br><br>
        Les paiements effectués par l'acheteur ne seront considérés comme définitifs qu'après encaissement effectif des
        sommes dues par le prestataire.
        <br><br>
        Une facture sera obligatoirement remise à l'acheteur qui sera libre de l’accepter ou de la refus
    </p>

    <h2>Article 8 – Propriété intellectuelle</h2>
    <p>
        Tous les documents techniques, produits, dessins, photographies remis aux acheteurs demeurent la propriété
        exclusive de Mme Mathilde Courgeon,
        seule titulaire des
        droits de propriété intellectuelle sur ces documents, et doivent lui être rendus à sa demande.
        <br><br>
        Les acheteurs clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux
        droits de propriété industrielle
        ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers.
        <br><br>
        L'ensemble du contenu du présent site Internet, y compris nom de domaine, marques, logo, texte… est la propriété
        de www.mc-kinesiologie.fr, il est protégé par les lois en vigueur de la législation française sur la propriété
        intellectuelle. <br>
        Aucun élément de ce site ne peut être copié, reproduit, détourné ou dénaturé, et ce, sur quelque support que ce
        soit,
        sans constituer un acte de contrefaçon au sens des articles L 335-2 et suivants du code de la propriété
        intellectuelle.
    </p>

    <h2>Article 9 – Spécificités et avertissement sur les pratiques utilisées par Mme Mathilde Courgeon</h2>
    <p>
        Il appartient aux clients de faire toutes vérifications qui semblent nécessaires ou opportunes avant de procéder
        à une quelconque réservation
        de prestations auprès de Mme Mathilde Courgeon. En cas de grossesse ou pathologie grave et quelle que soit la
        prestation souhaitée,
        il est recommandé au client de demander l’avis préalable de leur médecin généraliste ou spécialiste. Il en est
        de même pour les personnes
        fragiles, comme par exemple les personnes âgées, les personnes ayant des problèmes psychologiques,
        cardiologiques ou de tension, les
        personnes sujettes à des allergies, sans que cette liste limitative.
        <br><br>
        Les conseils, recommandations et prestations de services proposés par Mme Mathilde Courgeon ne remplacent en
        aucun cas l’avis d’un médecin.
        Avant d’interrompre ou modifier tout traitement médical, le consultant doit se référer à son médecin traitant et
        /ou au spécialiste médical
        qui le lui a prescrit.
        <br><br>
        En l'état actuel, les différentes méthodes proposées ne sont pas encore reconnues (faute d'études scientifiques
        suffisamment conséquentes
        et validées) à la fois par le Ministère de la Santé et dans le domaine médical
    </p>


    <h2>Article 10 – Incapacité de travail</h2>
    <p>
        En cas d’incapacité physique temporaire, par suite de maladie ou d’accident de Mme Mathilde Courgeon, le
        prestataire se réserve le droit
        de replanifier de nouvelles dates d’interventions en concertation avec le(s) client(s) sans qu’il ne puisse être
        exigé par ce dernier de
        versement d’indemnité.
        <br><br>
        En cas d’incapacité physique permanente du prestataire, tout type de contrat ou d’engagement avec les clients du
        prestataire seront
        résiliés de plein droit sans qu’il ne puisse être réclamé au prestataire une indemnité compensatrice. En cas
        d’acomptes perçus, les
        sommes seront remboursées au client dans un délai maximum de quinze jours suivant la date de résiliation du
        contrat ou de l’engagement.
        <br><br>
        Pour les cartes cadeaux en cours de validité à la date de l’incapacité de travail constatée, la validité desdits
        cartes cadeaux pourra
        être reportée pour une durée de douze mois à compter de la reprise d’activité de Mme Mathilde Courgeon.
    </p>

    <h2>Article 11 – Juridiction compétente</h2>
    <p>
        Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes conditions
        générales de
        vente pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur
        résiliation, leurs
        conséquences et leurs suites et qui n'auraient pas pu être résolus à l'amiable entre le vendeur et le client,
        seront soumis aux
        tribunaux compétents dans les conditions de droit commun.
        <br><br>
        Pour la définition de la juridiction compétente, le vendeur élit domicile au 110 rue du Rempart 37000 Tours.
    </p>

    <h2>Article 12 – Langue du contrat</h2>
    <p>
        Les présentes conditions générales de vente sont rédigées en langue française. Dans le cas où elles seraient
        traduites en une ou
        plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
    </p>

    <h2>Article 13 – Loi applicable</h2>
    <p>
        Les présentes conditions générales sont soumises à l'application du droit français.
        <br><br>
        Il en est ainsi pour les règles de fond comme pour les règles de forme. En cas de litige ou de réclamation,
        l'acheteur s'adressera en
        priorité au vendeur pour obtenir une solution amiable.
    </p>

    <h2>Article 14 - Accès au site </h2>
    <p>
        L'utilisateur de ce site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser
        ce site. <br>
        www.mc-kinesiologie.fr ne saurait être tenu responsable des éléments en dehors de son contrôle et des dommages qui
        pourraient éventuellement
        être subis par l'environnement technique de l'utilisateur et notamment, ses ordinateurs, logiciels, équipements
        réseaux et tout autre
        matériel utilisé pour accéder ou utiliser le service et/ou les informations. <br>
        Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans un système informatique, d'entraver
        ou de
        fausser le fonctionnement d'un tel système, d'introduire ou de modifier frauduleusement des données dans un
        système informatique
        constitue des délits passibles de sanctions pénales.
    </p>

    <p>
        Date d’entrée en vigueur : 01.04.2023
    </p>
</section>
{% endblock %}