.cgv_section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: 1rem auto;
    color: #0D4442;
}

.left_container .text h1 {
    color: #0D4442;
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    margin-bottom: 0;
}
