.flash_container {
    width: 80%;
    background: linear-gradient(90deg, rgba(234, 155, 106, 1) 0%, rgba(244, 177, 136, 1) 100%);
    color: #ffffff;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 2rem;
    text-align: center;
    color: #ffffff;
    background: transparent;
    padding: 1rem 1rem;
    transition: all 0.5s ease;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.6);
    border: 2px solid white;
}

button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.6);
}

input,
textarea,
label {

    margin-top: 1rem;
    text-align: center;
    color: #ffffff;
    background: transparent;
    transition: all 0.5s ease;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid white;
}


.first_section {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 2rem 0 2rem 0;
    color: #286f6f;
}

.first_section h2,
.second_section h2,
.third_section h2 {
    text-align: center;
}

.second_section {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
    background: linear-gradient(90deg, rgba(234, 155, 106, 1) 0%, rgba(244, 177, 136, 1) 100%);
    color: #ffffff;
    font-weight: 500;
}

.first_section h2 {
    margin-bottom: 0;
}

.first_section .infos_details {
    width: 94%;
    margin: auto;
}

.first_section .infos_details p {
    padding: 0;
}

.calendly-inline-widget {
    min-width: 320px;
    height: 700px;
    width: 100%;
}

.calendly-inline-widget iframe {
    top: -50px;
    position: relative;
}

.calendly_container {
    display: none;
}

.infos_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infos_container img {
    width: 100%;
}

.infos_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos_container p {
    margin-bottom: 0;
    text-align: center;
    line-height: 2rem;
}

.infos_details p a {
    color: #0d4442;
    text-decoration: underline;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container a {
    max-width: 50vw;
    height: 40px;
    background-color: #286f6f;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    padding: 5px 20px;
}

#contact_nom,
#contact_prenom,
#contact_telephone,
#contact_email {
    width: 50%;
    padding: 2rem 0 0.2rem 0;
    color: #286f6f;
}

#contact_nom:focus-visible,
#contact_prenom:focus-visible,
#contact_telephone:focus-visible,
#contact_email:focus-visible,
#contact_message:focus-visible {
    border: 1px white solid;
    outline: none;
}

.message {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.message label {
    margin-top: 2rem;
    border: none;
}

#contact_message {
    resize: none;
    height: 80px;
    color: #286f6f;
}

.third_section {
    width: 80%;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #286f6f;
}

.third_section_infos_container {
    flex-direction: row-reverse;
    width: 90%;
    margin: 1rem auto 2rem;
    position: relative;
}

.third_section .infos_details {
    width: 45%;
}

.map_and_text {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.map_text {
    width: 30%;
}

.map_text p {
    color: black;
    text-align: justify;
    line-height: 1.5;
    font-family: Lato;
    font-size: 20px;
}

.map-responsive {
    position: relative;
    width: 45%;
    align-self: normal;
}

.map-responsive iframe {
    max-height: 100%;
    max-width: 100%;
}

/* --------------------- MEDIA QUERIES ---------------------------- */

@media only screen and (max-width: 800px) {
    button {
        box-shadow: none;
        transition: none;
    }

    button:hover {
        box-shadow: none;
    }

    .first_section {
        width: 90%;
        padding: 0rem 0 2rem 0;
        display: flex;
        flex-direction: column;
    }

    .infos_details {
        width: 100%;
    }

    .calendly_container {
        display: block;
    }

    .second_section {
        width: 90%;
        padding-top: 1rem;
    }

    .contact {
        top: unset;
    }

    #contact_nom,
    #contact_prenom,
    #contact_telephone,
    #contact_email {
        width: 80%;
        padding: 1rem 0;
    }

    .message {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .message label {
        margin-top: 1rem;
    }

    .third_section {
        width: 90%;
    }

    .third_section_infos_container {
        width: 100%;
        flex-direction: column;
    }

    .third_section .infos_details {
        width: 100%;
    }

    #map {
        width: 100%;
        height: 300px;
        text-align: center;
    }

    .third_section .button_container {
        margin-bottom: 1rem;
    }

    .calendly-inline-widget {
        display: none;
    }
}