.first_section {
    display: flex;
    justify-content: space-evenly;
}

.left_container {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left_container .image_and_text {
    color: #0D4442;
}

.right_container {
    width: 50%;
    padding: 2rem 0;
    text-align: center;
    display: flex;
}

.left_container img {
    max-width: 80%;
    max-height: 170px;
}

.button_container a {
    max-width: 50vw;
    height: 40px;
    background-color: #286f6f;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    padding: 5px 20px;
}

.first_section {
    background-color: #FFFFFF;
}

.right_container img {
    max-width: 100%;
    max-height: 300px;
    margin: auto;
    border-radius: 2%;
}

.second_section {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
    background-color: #EA9B6A;
    color: #FFFFFF;
}

.second_section div {
    width: 80%;
    margin: auto;
}

.third_section {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #FFFFFF;
    padding: 2rem 0 0 0;
    color: #286F6F;
}

.calendly_container {
    display: none;
}

.calendly-inline-widget {
    top: -50px;
}

.contact {
    position: relative;
    top: -40px;
}

.fourth_section {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    background-color: #EA9B6A;
    color: #FFFFFF;
}

.fourth_section div {
    width: 80%;
    margin: auto;
}

.fourth_section h2 {
    text-align: center;
}

.infos_container {
    width: 100%;
    display: flex;
}

.infos_container div {
    width: 50%;
}

.infos_container img {
    width: 100%;
}

.infos_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos_container p {
    padding: 1rem;
    text-align: center;
    line-height: 2rem;
    font-size: large;
}

.infos_details p a {
    color: #0d4442;
}

.fifth_section {
    padding: 2rem 0;
}

#customers_opinion {
    background-color: #e6bbaa;
    height: 300px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#customers_opinion_title {
    height: 20%;
}

#customers_opinion_title p {
    color: #ffffff;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 1rem 0 0 0;
}

.customers_opinion_description {
    color: #ffffff;
    width: 90%;
    text-align: center;
    font-size: large;
}

.customers_opinion_name {
    color: #ffffff;
}

/* --------------------- CAROUSEL ---------------------------- */

.slider-wrapper {
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slides-container {
    height: 80%;
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slide-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

#star {
    height: 30px;
    margin: 0 4px;
}

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    background-color: white;
    text-align: center;
}

#contact_title {
    height: auto;
}

#contact_infos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;
    font-size: large;
}

/* --------------------- MEDIA QUERIES ---------------------------- */

@media only screen and (max-width: 800px) {

    .first_section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .left_container {
        width: 98vw;
        padding: 0 0 20px 0;
    }

    .right_container {
        width: 98vw;
        padding: 20px 0 0 0;
    }


    .image_and_text img {
        display: none;
    }

    .right_container img {
        max-width: 90%;
    }

    .second_section {
        padding: 1rem 0 2rem 0;
    }

    .third_section {
        width: 100vw;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .calendly_container {
        display: block;
    }
    
    .contact {
        top: unset;
    }

    .third_section .button_container {
        margin-bottom: 1rem;
    }

    .third_section p {
        width: 94%;
        margin: 1rem auto;
    }

    .calendly-inline-widget {
        display: none;
    }

    .fourth_section {
        width: 100vw;
        padding: 1rem 0;
    }

    .fourth_section .infos_container {
        flex-direction: column;
    }

    .fourth_section .infos_container div {
        width: 94%;
        margin: auto;
        text-align: center;
    }

    .fourth_section .infos_details p {
        padding: 0;
    }

    .fourth_section img {
        width: 90%;
    }

    #customers_opinion {
        width: 90vw;
        height: 240px;
        margin: 0 auto;
    }

    #customers_opinion_title {
        height: 12%;
    }

    #customers_opinion_title p {
        font-size: x-large;
    }

    .slide-arrow {
        width: 2rem;
        height: 2rem;
        top: -125px;
        bottom: 0;
    }

    .slides-container {
        height: 84%;
    }

    #star {
        height: 20px;
        margin: 0 4px;
    }

    .calendly-badge-widget {
        position: absolute;
    }
}