.first_section {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    color: #286f6f;
}

.first_section h2,
.third_section h2,
.fourth_section {
    text-align: center;
}

.infos_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.infos_details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first_section_infos_container {
    width: 80%;
    padding: 2rem 2rem 0 2rem;
    text-align: justify;
    margin: auto;
    line-height: 1.5rem;
}

.image_and_text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.image {
    width: 40%;
}

.right_text {
    width: 60%;
    padding: 0 0 0 1rem;
}

.image img {
    max-width: 100%;
    max-height: 333px;
    margin: auto;
}

.right_text h3 {
    margin-top: 0;
}

.first_section_infos_container p {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1040px;
    margin: 1rem auto 2rem auto;
    padding: 0;
    gap: 1rem 2rem;
    color: white;
    font-weight: 500;
    list-style: none;
    counter-reset: doc;
}

.grid>li {
    counter-increment: doc;
}

.grid>li:before {
    content: counter(doc) ". ";
}

.grid>li {
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    gap: 0.5rem;
    background-color: rgb(234, 155, 106, 1);
}

.grid p {
    margin-top: 0;
}

#last_line {
    grid-column: span 2;
    text-align: center;
}

#last_line:before {
    content: none;
}

.text li::before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding-left: 1rem;
    padding-top: 3rem;
}

.grid_icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 40px;
}

.grid li img {
    max-height: 40px;
    max-width: 50px;
}

.first_section_infos_container li {
    margin: 0.5rem 0;
}

.infos_details p a {
    color: #286f6f;
    text-decoration: underline;
}

.second_section {
    background: linear-gradient(90deg, rgba(234, 155, 106, 1) 0%, rgba(244, 177, 136, 1) 100%);
    width: 80%;
    margin: auto;
}

.second_section_container {
    display: flex;
    padding: 1rem;
    color: #ffffff;
    position: relative;
}

#border_bottom {
    border-bottom: 2px solid #ffffff;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
}


.second_section_left {
    display: flex;
    font-size: x-large;
    min-width: 30%;
}

.second_section_left h3 {
    margin-top: 0;
    padding: 0 1rem;
}

.second_section_right :first-child {
    margin-top: 0.4rem;
}

.second_section_right {
    font-size: large;
    font-weight: 500;
    text-align: justify;
}

.third_section {
    width: 80%;
    padding: 1rem 0 3rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #286f6f;
}

.third_section_infos_container {
    flex-direction: row-reverse;
}

.map_and_text {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.map_text {
    width: 30%;
}

.map_text p {
    color: black;
    text-align: justify;
    line-height: 1.5;
    font-family: Lato;
    font-size: 20px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;
    width: 50%;
    margin-left: 20px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.third_section_infos_container .infos_details {
    margin-bottom: 0;
    text-align: justify;
    line-height: 2rem;
    padding-right: 1rem;
}

.third_section_infos_container .infos_details ul {
    margin-top: 0;
    padding-left: 0;
}

.third_section_infos_container .infos_details li {
    list-style-type: '📍';
    padding: 0 0 0 1rem;
    margin-left: 1rem
}

.fourth_section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 2rem auto;
    padding: 2rem 0;
    background: rgb(234, 155, 106);
    background: linear-gradient(90deg, rgba(234, 155, 106, 1) 0%, rgba(244, 177, 136, 1) 100%);
    color: #ffffff;
}

.fourth_section .infos_container {
    flex-direction: column;
}

.fourth_section .infos_details {
    width: 100%;
    margin: auto;
}

.fourth_section .infos_details p {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 500;
}

.fourth_section h2 {
    margin: 0;
}

.button_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container a {
    max-width: 50vw;
    height: 40px;
    background-color: #286f6f;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    padding: 5px 20px;
}


/* --------------------- MEDIA QUERIES ---------------------------- */

@media only screen and (max-width: 800px) {
    .first_section {
        width: 90%;
        padding: 1rem 0;
    }

    .first_section_infos_container {
        padding: 1rem 0;
        width: 100%;
    }

    .image_and_text {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }

    .right_text {
        padding: 1rem 0 0 0;
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    #last_line {
        grid-column: span 1;
    }

    .infos_container,
    .infos_container_2 {
        flex-direction: column;
    }

    .infos_image {
        width: 90%;
    }

    .infos_image img {
        max-height: 250px;
    }

    .infos_details {
        width: 100%;
    }

    .third_section_infos_container .infos_details {
        padding-right: 0;
    }

    .third_section .infos_details p {
        padding: 0 1rem;
    }

    .fourth_section .infos_details p {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .button_container {
        width: 100%;
    }

    .button_container a {
        height: auto;
        max-width: 100%;
    }

    .second_section,
    .third_section {
        width: 90%;
        padding: 1rem 0;
    }

    .second_section h2,
    .third_section h2 {
        padding: 0 1rem;
    }

    .second_section_container {
        flex-direction: column;
        align-items: center;
    }

    .second_section_left {
        text-align: center;
    }

    .second_section_right {
        text-align: unset;
    }

    .map-responsive {
        width: 100%;
        margin: 0;
        padding-bottom: 75%;
    }

}